openapi: 3.0.1
info:
  title: Numeral Customers Refunds API
  description: REST API for the Numeral (Numeral HQ) sales-tax compliance platform. Calculate real-time sales tax by customer location, record transactions and refunds, and manage products and customers. Registrations, nexus monitoring, filing, and remittance are delivered as managed platform services on top of the data captured through this API. Not affiliated with Numeral (numeral.io), an unrelated payment operations company.
  termsOfService: https://www.numeral.com/terms
  contact:
    name: Numeral Support
    url: https://www.numeral.com/
  version: '2026-03-01'
servers:
- url: https://api.numeralhq.com
  description: Numeral production API
security:
- bearerAuth: []
tags:
- name: Refunds
paths:
  /tax/transactions/{transaction_id}/refunds:
    get:
      operationId: getRefundsForTransaction
      tags:
      - Refunds
      summary: Retrieve refunds for a specific transaction.
      parameters:
      - $ref: '#/components/parameters/TransactionId'
      responses:
        '200':
          description: Refunds associated with the transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  refunds:
                    type: array
                    items:
                      $ref: '#/components/schemas/RefundResponse'
  /tax/refunds:
    post:
      operationId: createRefund
      tags:
      - Refunds
      summary: Add a refund to a transaction.
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: The created refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
  /tax/refund_reversals:
    post:
      operationId: createRefundReversal
      tags:
      - Refunds
      summary: Reverse a refund you have previously created.
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refund_id
              properties:
                refund_id:
                  type: string
                  description: Identifier of the refund to reverse.
      responses:
        '200':
          description: The reversed refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
components:
  schemas:
    LineItem:
      type: object
      properties:
        reference_product_id:
          type: string
        amount:
          type: integer
          description: Line amount in the smallest currency unit (e.g., cents).
        quantity:
          type: integer
        product_category:
          type: string
    RefundResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        refund_type:
          type: string
        testmode:
          type: boolean
        refund_processed_at:
          type: string
          format: date-time
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
    RefundRequest:
      type: object
      required:
      - transaction_id
      properties:
        transaction_id:
          type: string
        type:
          type: string
        refund_processed_at:
          type: string
          format: date-time
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
  parameters:
    TransactionId:
      name: transaction_id
      in: path
      required: true
      schema:
        type: string
    ApiVersion:
      name: X-API-Version
      in: header
      required: false
      schema:
        type: string
        enum:
        - '2026-03-01'
        - '2026-01-01'
        - '2025-05-12'
        - '2024-09-01'
        default: '2024-09-01'
      description: API version. Defaults to 2024-09-01 when omitted.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Provide your Numeral API key as a Bearer token in the Authorization header.
